# This is a basic workflow that is manually triggered

name: Secret_to_GKE

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
    - 'main'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  toto:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - run:  cat key.json | docker login -u _json_key_base64 --password-stdin https://europe-west9-docker.pkg.dev
    - run: docker build -t monapp
    - run: docker tag monapp europe-west9-docker.pkg.dev/infal-devops-sysops/student-valentingi/monapp
    - run: docker push europe-west9-docker.pkg.dev/infal-devops-sysops/student-valentingi/monapp
    
